html, body
	margin  0
	padding 0

body
	background #3c3d3d url('/img/body.png') repeat center center

#logo
	position 	   absolute
	width 		   680px
	height 		   120px
	left 				 50%
	top 				 50%
	margin-left -340px
	margin-top 	-60px

#world
	position relative
	margin   100px auto
	width    800px
	height   500px

	canvas
		position absolute
		top      0
		left     0
		width    800px
		height   500px
		outline  "1px #f00 solid"

#world canvas#bottom
	outline 5px #00f solid

#world canvas#decor
	outline 4px #0f0 solid

#world canvas#solids
	outline 3px #0ff solid

#world canvas#players
	outline 2px #ff0 solid

#world canvas#overlay
	outline 1px #f0f solid