extends ../layout

block content
  div#world
    canvas#bottom(width=800, height=500)
    canvas#decor(width=800, height=500)
    canvas#solids(width=800, height=500)
    canvas#players(width=800, height=500)
    canvas#overlay(width=800, height=500)